body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: steelblue
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
ul{
  list-style: none;
  padding: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
.title-appear {
  transform: translateX(-100%);
}
.title-appear-active {
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}

.alert-enter {
  transform: translateX(100);
}
.alert-enter-active {
  transform: translateX(0);
  transition: all 5000ms ease-in-out;
}

.notification {
  display: block;
  width: 330px;
  height: 75px;
  background-color: lightblue;
  color: steelblue;
  text-align: center;
  border: 2px solid SteelBlue;
  box-shadow: 1px 1px 10px 1px steelblue;
  position: absolute;
  top: 10px;
  right: 10px;
  
}

.notification-enter {
  transform: translateY(-100%);
}
.notification-enter-active {
  transform: translateY(0);
  transition: all 500ms ease-in-out;
}
.notification-exit{
 transform: translateY(0); 
}
.notification-exit-active{
    transform: translateY(-100%);
  transition: all 500ms ease-in-out;
}